.sake-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.sake-image {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 40vw;
}

.sake-details {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}