.featured {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   padding: 30px;
}

.wine-section-landing {
grid-column: 1/2;
grid-row: 1/2;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
margin: 40px;
border-radius: 10px;
}



.wine-description {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    width: 37%;
}

.wine-description h1 {
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto', sans-serif;
    
}

.wine-description h3 {
    font-size: 15px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto', sans-serif;
}

.sake-section-landing {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: white;
    border-radius: 10px;
   
}

.sake-feature {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sake-description {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px;
}


.sake-description h1 {
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
font-family: 'Roboto', sans-serif;
}

.sake-description h3 {
    font-size: 14px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto', sans-serif;
}

.type {
    font-family: 'Big Shoulders Display', cursive;
font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1145px) {
    .sake-description h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 952px) {
    .sake-description h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 793px) {
    .sake-description h1 {
        font-size: 15px;
    }
}